
body{
    align-items: center;
    text-align: center;
    background-image:url('https://www.karunya.edu/img/general/aerial-view.jpg.pagespeed.ce.4_-R-b0nuM.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/* Change Font Size and Color Here */
form,table{
    text-align: left;       
    font-size: 24;                      /*font size*/
    font-weight: bold;                  /*Bold font*/
    color:White;                /*font color*/
}
.child {
margin: 0 auto;
}
H1
{
 color:Brown;
}

